<div class="my-5">
    <h1 class="text-center mb-5">게시판</h1>
    
    <div class="text-end mb-3">
        <a class="btn btn-primary px-4" href="/posts/insert">글쓰기</a>
    </div>
    
    <table class="table table-striped text-center align-middle">
        <thead>
            <tr>
                <th scope="col" width="10%">번호</th>
                <th scope="col" width="45%">제목</th>
                <th scope="col" width="25%">작성자</th>
                <th scope="col" width="20%">작성일</th>
            </tr>
        </thead>
        <tbody id="tbl_posts" class="table-group-divider"></tbody>
    </table>
    
    <!-- 페이징 버튼 영역 -->
    <div class="text-center mt-4">
        <button class="btn btn-outline-secondary" id="btn_prev">이전</button>
        <span id="span_page" class="mx-3 fw-bold">1 / 1</span>
        <button class="btn btn-outline-secondary" id="btn_next">다음</button>
    </div>
</div>

<script id="temp_posts" type="text/x-handlebars-template">
    {{#each list}}
    <tr>
        <td>{{RNUM}}</td>
        <td class="text-start">{{TITLE}}</td>
        <td>{{SNAME}} ({{WRITER}})</td>
        <td>{{REG_DATE}}</td>
    </tr>
    {{/each}}
</script>

<script>
    let page = 1;
    const size = 5; // 한 페이지에 출력할 게시글 개수

    getList();

    function getList() {
        $.ajax({
            type: "get",
            url: "/posts/list.json",
            data: { page: page, size: size },
            success: function(data) {
                console.log(data.list); // 콘솔에 배열(Array) 형태로 요청하신 포맷 출력
                const temp = Handlebars.compile($("#temp_posts").html());
                $("#tbl_posts").html(temp(data));

                const lastPage = Math.ceil(data.total / size);
                $("#span_page").html(page + " / " + (lastPage === 0 ? 1 : lastPage));
                $("#btn_prev").attr("disabled", page === 1);
                $("#btn_next").attr("disabled", page === lastPage || lastPage === 0);
            }
        });
    }

    $("#btn_prev").on("click", function() { page--; getList(); });
    $("#btn_next").on("click", function() { page++; getList(); });
</script>